/* Main Settings */

body {
	line-height: ;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.75em;
}

strong {
	color:#ff9933;
}


/* Navigation */

.main {
	width: 100%;
	height:50px;
	background-color: #FF9933;
	z-index: 1;

}

.landing-main {
	width: 100%;
	height:0px;
	z-index: 1;
}

.navbtn {
	width: 400px;
	height:80px;
	float: left;
	margin-top: opx
}

.navbtn #e {
	background-color: yellow;

}

.navbtn ul {
	display:inline-block;
	margin-top: 0px
}


.navbtn ul li{
	display: inline-block;
	width: 90px;
	height: 80px;
	background-color: #000;
}


.menu-main > section button {
	background: transparent; 
	border: none;	
	color: #fff;
	padding: .75em;
	width: 75px;
	cursor: pointer;
	margin: -50px 0;
	font-size: 3.25em;
	float:left;
}

.menu-main > section button:hover {
	color:#ff9933;
}

.menu-main > section button.active {
	color:#ff9933;
	border: none;
}

button:focus {outline:0 !important;}


#logo {
	background: url('../img/e.svg') width:150px height:150px;
	padding-top: 10px;
}

#pushright {
	padding-right: 30px;
}

/* home page */

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/page_loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

#panel1 {
	margin-top: 0px;
	height:1000px; 
	padding-top: 50px;
}

#panel2 {
	height:600px;
	background-color: #333;	
}

#panel3 {
	width: 100%;
	height: 400px;
}

#panel4 {
	width: 100%;
	height: 50px;
	background-color: #000;
}

#panel5 {
	width: 100%;
	height: 300px;
	background-color: #fff;
}

.landing-title {
	margin-top: 150px;
	text-align: center;
}

.landing-title h1 {
	color: #fff;
	font-weight: 200;
	text-align: left;
	z-index: 1;
}

.bordertop {
	border-top: solid 3px #ff9933;
}

img.hoverimages {
	margin:20px;
	padding:3px;
	outline:2px solid #DDD;
	border:#a1a1a1;	
	float:left;
	-webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
 
img.hoverimages:hover {
	cursor:pointer;
    margin-top: 5px;
}

#center {
    margin-left: 30%;
}

#strategic {
	border-top: 1px solid #ff9933;
	border-bottom: 1px solid #ff9933;
	margin-top: 150px;
}

/*.home {
	margin-top: -190px;
	background-image: url(../img/city_sunset.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
}*/

/* Front Page Sections */

#showbox {
	width:450px;
	height:300px;
	border-radius: 0px 20px 0px 20px;
	-moz-border-radius: 0px 20px 0px 20px;
	-webkit-border-radius: 0px 20px 0px 20px;
	border: 2px solid #ff9933;
	background: url(../img/campus.png);
}

.banner_box {
	width: 100%;
	height: 500px;
	margin-top: 5px;
}

.banner	{
	
	/*background-image: url(../img/mirrored_sq.png);*/
	width: 500px;
	height: 50px;
	background-color: #ff9933;
	margin-top: 300px;
	}

@media screen and (max-width:600px) {
.banner	{	
	/*background-image: url(../img/mirrored_sq.png);*/
	width: 250px;
	height: 30px;
	background-color: #ff9933;
	margin-top: 300px;
	text-align: center;
	}
}

 .banner h1 {
	 font-size: 2em;
	 padding:0px 15px;
	 color: #fff;
 }
 
@media screen and (max-width:600px) {
	 .banner h1 {
	 font-size: 1.5em;
	 padding-top: 2px;
	 color: #fff;
	 text-align: center;
	 }
}

#shout {
	margin-top: 30px;
	width: 100%;
	height: auto;
	background-color: #fff;
	padding-bottom: 50px;
}

#shoutabout {
	font-size: 1em;
	text-align: justify;
	padding-left: 5px;
	padding-right: 10px;
	font-weight: 500;
}

#shoutabouthead {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 20px;
}

#shoutaboutside {
	font-family: sans-serif;
	font-size: 1em;
	color: #fff;
	width: 250px;
	height: 30px;
	background-color: #ff9933;
	border-bottom-left-radius: 10px;
	margin-top: 30px;
	padding-left: 30px;
	padding-top: 2px;
}

#shoutimg {
	padding-top: 50px;
}

.gappy {
	margin-top: -30px;
	padding-top: 10px
}

.gappier {
	margin-top:0px;
}

#footer {
	width: 100%;
	height: 50px;
	background-color: #000;
	color: #fff;
	
}


/* Mobile viewports */

@media screen and (max-width:480px) { 

body {
	width:auto;
	}
}

@media screen and (max-width:480px) {
h3 {
	font-size: 1.5em;
	}
}

@media screen and (max-width:480px) { 
	.bg-container-pages a { 
		padding-right: 5px;
	}
}

@media screen and (max-width:480px) {
	h4 { font-size: 22px; }
}	

@media screen and (max-width:480px) {
	#panel1 {
		height:600px;
		}
}

@media screen and (max-width:480px) {
	.landing-title h1 { 
		font-size: 1.5em;
		font-weight: 200;
		color: #fff;
		 }
}

@media screen and (max-width:480px) {
	.landing-title { 
		margin-top: 40px;
		text-align: center;
	}
}


@media screen and (max-width:480px) {
	#phone { display:none; }
}

@media screen and (max-width:480px) {
	#about { display:none; }
}
	
@media screen and (max-width:480px)	{
	#center {
		text-indent:0;
		text-align:center;
	}
}

@media screen and (max-width:480px) {
	#panel2 {
		height:400px;
		background-color: #333;	
		}
}

@media screen and (max-width:480px) {
	#about { display:none; }
	}
	
@media screen and (max-width:480px)	{
	.center {
		position: absolute;
		left: 50%;
		top: 50%; 
		margin-left: -150px;
		margin-top: -150px;
		}
}

@media screen and (max-width:480px) {
#strategic {
	border-top: 1px solid #ff9933;
	border-bottom: 1px solid #ff9933;
	margin-top: 30px;
	}
}

@media screen and (max-width:600px) {
	#mobile_buttons {
	display: block;
	margin-top:-100px;
	padding-bottom: 20px;
	}
}

@media screen and (max-width:480px) {
#showbox { display: none; }
}

@media screen and (max-width:480px) {
#creative {
	margin-top: 0px; }
}

@media screen and (max-width:600px) {
#creative img {
	width: 45%;
	height: 45%;
	}
}

@media screen and (max-width:480px) {
	#logo {
	padding-top:30px;
	text-align: center;	 
	}
}

@media screen and (max-width:480px) {
	#e-mob {
	margin: 0px auto;
	text-align: center;
	width: 75%;
	height: 75%;
	margin-top: 0px;	 
	}
}

	#js {
	margin: 0px auto;
	font-size: 2em;
	text-align: center;
	margin-top: 5px;
	}

@media screen and (max-width:480px) {
#panel4 {
	width: 100%;
	height: 70px;
	background-color: #000;
	}
}

@media screen and (max-width:600px) { 
.menu-main > section button {
	background: transparent; 
	border: none;	
	color: #fff;
	padding: .75em;
	width: 75px;
	cursor: pointer;
	margin: -90px 0;
	font-size: 3.25em;
	float:none;
	}
}

/*Paralax scrolling*/

section.module:last-child {
  margin-bottom: 0;
}

section.module h2 {
  margin-bottom: 10px;
  font-size: 30px;
}

section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}

section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 28px;
  line-height: 100px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}*/

section.module.parallax-1 {
  background-image: url("../img/city_sunset.jpg");
}

section.module.parallax-2 {
  background-image: url("../img/coffee_shop.jpg"); 
}

section.module.parallax-3 {
  background-image: url("../img/colour1.jpg");
}

section.module.parallax-4 {
  background-image: url("../img/colour3.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 3em;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 3em;
  }
}

/* General styles for all menus */
.cbp-spmenu {
	background: #dd9933;
	position: fixed;
}

.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	background: #258ecd;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
	overflow-y: scroll;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #258ecd;
	padding: 1em;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}